@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.input {
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  margin-left: 0.8rem;
  transition: 0.1s;
}

div[data-label-width] {
  margin-left: attr(data-label-width px);
}

.input:focus {
  outline: none;
}

.input-wrapper {
  position: relative;
}
.input-label {
  transition: 0.2s;
}

.invalid {
  box-shadow: 0 0 0 2px #d64b4b;
}

.valid {
  border: 1px solid rgb(5, 223, 5);
}

.error-message {
  color: #d64b4b;
  font-size: 0.8rem;
  text-align: left;
  transition: 0.2s;
}

.error-message-column {
  color: #d64b4b;
  font-size: 0.8rem;
  text-align: left;
  transition: 0.2s;
}

.error-message::before {
  content: "- ";
}

.column {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-between;
}

.relative {
  position: relative;
}
